<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/user/Documents/Winter2022TAF">
        <classes>
            <class name="annotations.Demo3">
                <methods>
                    <include name="myFirstTest"/>
                    <include name="mySecondTest"/>
                    <include name="myStopTest"/>
                </methods>
            </class>
            <class name="annotations.DemoClass">
                <methods>
                    <include name="DemoTest1"/>
                    <include name="DemoTest2"/>
                </methods>
            </class>
            <class name="annotations.SampleTest">
                <methods>
                    <include name="demoTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>